* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #1a1a1a;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: 600;
}

a:hover {
	color: #444;
}

/** General style - Desktops, hi-res tablets **/

.main-place {
	padding: 6em;
	color: #fff;
	text-shadow: 0px 1px 5px #000000;
	border-bottom: #fff 2px solid;
	background-position: center;
	background-repeat: no-repeat;
}

.main-place h1 {
	font-size: 100px;
	font-weight: 600;
}

.main-place h2 {
	font-size: 36px;
	margin-bottom: .4em;
}

.main-place h2 small {
	display: block;
	font-size: 20px;
	line-height: 42px;
}

.subtext {
	margin: 2em 0;
	background: #fff;
}

.navigation {
	margin: 1.8em 0;
}

.navigation a {
	display: inline-block;
	margin: 0 1.2em;
}

.footer {
	color: #6c6969;
	font-size: 10px;
}

.footer span {
	display: block;
	line-height: 20px;
}

.footer a {
	font-weight: normal;
}

.footer a:hover {
	color: inherit;
	text-decoration: underline;
}

/** For mobile devices, tables and other small resolution devices **/

@media all and (max-width: 799px) {

	.main-place {
		padding: 2em;
		background-image: none !important;
	}

	.main-place h1 {
		font-size: 80px;
	}

	.main-place h2 {
		font-size: 30px;
	}
	.main-place h2 small {
		font-size: 18px;
		line-height: 36px;
		margin-top: .8em;
	}
	
	.footer {
		margin-bottom: 2em;
	}
}